#GroupsSpan {
    text-decoration:underline;
    color:teal;
    margin-right: 1rem;
    font-size: 1.5rem;
}
#EventsNavLink {
    color:gray;
    text-decoration:none;
    font-size:1.5rem;
    margin-right: 1rem;
}

#groupsInMeetUp {
    font-size: .85rem;
    color: gray;
}

.allGroupsHeader {
    /* border: 3px dashed green; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    /* width: 40rem; */
    width:65%;

    height: 4rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.allGroupsContainer {
    display: flex;
    flex-direction:column;

    /* width: 40rem;
    margin: 1rem auto; */

    width:65%;
    margin:1rem auto;

    /* padding-bottom:60px; */

    border-bottom:2px solid lightgray;
}
.all_groups_bottom_space{
    min-height:60px;
}


.groupBlock {
    height: 13rem;
    width: 100%;

    display: flex;
    flex-direction: row;
    gap: 1rem;

    margin: 0 auto;
    margin-bottom: 1rem;

    border-top: 2px solid lightgray;
    padding-top: 1rem;
    cursor: pointer;

    /* border:2px dashed red; */
}

.groupImageContainer {
    width: 50%;
    height: 100%;

    /* border:2px dashed green; */
}

.groupImageContainer > img {
    width: 100%;
    height: 100%;
    border-radius:5px;
    object-fit:cover;
}

.groupInfoContainer {
    display: flex;
    flex-direction: column;
    justify-content:space-between;

    width:50%;
    height: 100%;

    /* border:2px dashed brown; */
}
.groupName {
    font-size: 1.5rem;
    margin-bottom: .5rem;
    word-wrap: break-word;
}
.groupLocation {
    font-size: .85rem;
    color:gray;
}

.groupInfoBottom > span {
    font-size: .85rem;
    color:gray;
}

.numMembersAllGroups {
    margin-right: .75rem;
}
.typeAllGroups {
    margin-left: .75rem;
}

.groupAbout {
    word-wrap: break-word;
    overflow:scroll;
    /* word-break: break-all; */
    /* border:2px dashed blue; */
}
