#signupInputs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#signupSpan {
    margin-top: 15px;
    margin-bottom: 12px;
    font-size: 20px;
}

#signupInputs > input {
    width: 90%;
    height: 25px;
    margin-bottom: .4rem;
    border:2px solid black;
    color: gray;
    background-color:#E8F0FE;
}

#signUpButton {
    margin-top: .4rem;
    height: 45px;
    font-size: 14px;
    width: 90%;
    margin-bottom: 20px;
}

#signUpButton.disabled {
    background-color: white;
    color: gray;
    border: 1px solid #CCCCCC;
    box-shadow:5px 5px 5px gray;
}

#signUpButton.enabled {
    background-color: red;
    color: white;
    border: 1px solid black;
    box-shadow:5px 5px 5px black;
    cursor: pointer;
}

.signupErrors {
    width: 90%;
    font-size:14px;
    color: red;
    margin-bottom:5px;
}
