
.allEventsHeader {
    /* border: 3px dashed green; */
    display: flex;
    flex-direction: column;
    width: 35rem;
    margin: 2rem auto;
}

.allEventsHeader > div {
    margin-top: .2rem;
    margin-bottom: .2rem;
}

.allEventsContainer {
    /* border: 3px dashed red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40rem;
    margin: 2rem auto;
}

.eventBlock {
    /* border: 3px dashed blue; */
    width: 100%;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    border:2px dashed red;
}
.eventBlockTop {
    display:flex;
    flex-direction: row;
    margin-bottom: 1rem;
    width: 100%
}

.eventImageContainer {
    max-width: 80%
}
.allEventImages {
    width: 40%;
    /* object-fit: contain; */
    object-fit:contain;
}

.eventInfoContainer {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}
