
.allEventsHeader {
    /* border: 3px dashed green; */
    display: flex;
    flex-direction: column;
    width: 35rem;
    margin: 2rem auto;
}

.allEventsHeader > div {
    margin-top: .2rem;
    margin-bottom: .2rem;
}

.allEventsContainer {
    /* border: 3px dashed red; */
    display: flex;
    flex-direction: column;
    align-items: center
}

.eventBlock {
    /* border: 3px dashed blue; */
    width: 35rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
}
.eventBlockTop {
    display:flex;
    flex-direction: row;
    margin-bottom: 1rem;
}

.eventImageContainer {
    margin-right: 1rem;
}

.eventInfoContainer {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}
