#EventsSpan {
    text-decoration:underline;
    color:teal;
    margin-right: 1rem;
    font-size: 1.5rem;
}
#linkToGroupsFromEvents {
    color:gray;
    text-decoration:none;
    font-size:1.5rem;
}
#eventsInMeetup {
    font-size: .75rem;
    color: gray;
}

.allEventsHeader {
    /* border: 3px dashed green; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 40rem;
    height: 4rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.allEventsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40rem;
    margin: 1rem auto;
}

.eventBlock {
    height: 15rem;
    width: 100%;

    margin: 1rem auto;

    display: flex;
    flex-direction: column;
    /* justify-content:space-between; */

    border-top: 2px solid lightgray;
    padding-top: 1rem;

    overflow:hidden;

    cursor:pointer;
}
.eventBlockTop {
    display:flex;
    flex-direction: row;
    justify-content:center;
    margin-bottom: 1rem;
    width: 100%;
    height: 65%;

    margin-bottom: 2rem;
}
.eventBlockBottomDescription {
    height: 35%;
    width: 100%;
    /* text-overflow:ellipsis;
    white-space:wrap;
    overflow:hidden; */
}

.eventImageContainer {
    width: 30%;
    height: 100%;
    /* border:2px dashed blue; */
}
.allEventImages {
    width: 100%;
    height: 100%;
    /* object-fit: contain; */
    /* object-fit:cover; */
    /*cover*/
}

.eventInfoContainer {
    display: flex;
    flex-direction: column;
    justify-content:space-between;

    margin-left: .5rem;
    width: 70%;
}

.EventDateTime {
    color: teal;
}
.eventLocation {
    color:gray;
}
