
.landingWrapper {
    width: 80%;
    margin: 3rem auto 0 auto;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    gap: 3rem;
}

.sectionOne {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    height: 30vh;
}
.titleIntroText {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction:column;
    justify-content:center;
    gap: 1rem;
}
.bigTitle {
    font-size: 2rem;
    font-weight:bold;
}
.infographic {
    height: 100%;
    width: 100%
}

.sectionTwo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .3rem;
    height: 5vh;
}

.landingSubTitle {
    font-size: 1.3rem;
    font-weight: bold;
}

.sectionThree {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;

    height: 22vh;
}
@media screen and (min-width:1000px) {
    .sectionThree{
        height:25vh;
    }
}
@media screen and (min-width:1150px) {
    .sectionThree{
        height:28vh;
    }
}
@media screen and (min-width:1350px) {
    .sectionThree{
        height:32vh;
    }
}
.sectionThreePart {
    width: 30%;
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: .1rem;
}
.sectionThreeImage {
    height: 70%;
    width: 100%;
    border-radius:5px;
    object-fit:cover;
}
.nL {
    font-size: 1rem;
    text-decoration:none;
    color: teal;
    align-self: center;
}
.disabledNavLink {
    font-size: 1rem;
    color:gray;
    align-self:center;
}
.sectionThreeText {
    font-size: .8rem;
}

.sectionFour {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 5vh;
}

#signUpLanding {
    height: 3rem;
    width: 12rem;
    background-color: navy;
    color: white;
    border: 2px solid black;
    box-shadow:5px 5px 5px black;
    cursor: pointer;
}

.landing_page_bottom_space{
    min-height:100px;
}
