/* TODO Add site wide styles */

* {
    box-sizing: border-box;
}

body {
    font-family: "Neue Plak", sans-serif;
    background-color: white;
    margin: 0;
}

.hidden {
    display: none;
}

button {
    font-size: normal;
    text-align: center;
    background-color: white;
    color: black;
    border-color: #CCCCCC;
}

.media_message{
    display:none;
}

@media screen and (max-width:800px){
    .application_wrapper{
        display:none;
    }
    .media_message{
        display:flex;
        font-weight:bold;
        flex-direction:row;
        justify-content:center;
        height:100vh;
        align-items:center;
    }
}

/*for testing whether or not buttons are disabled*/
/* :disabled {
    color: blue;
} */
