button {
    border: none;
}
.profile-dropdown {
    position: absolute;
    top:40px;
    right:20px;
}

ul {
    border:2px solid black;
    font-size:15px;
    list-style-type: none;
    text-align: center;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 20px;
    text-align: left;
}
#containsButton {
    border-top:2px solid black;
}

i {
    color: red;
}
