/*get rid of the border of the button
containing the favicon*/
#containsFavicon {
    border: none;
    height: 100%;
    /* removed width*/
    cursor: pointer
}
/*needs to be adjusted along with
changes to dimensions of headerRightProfile*/
.profile-dropdown {
    position: absolute;
    top:50px;
    right:20px;
}

/* change this .profile-dropdown*/
.profile-dropdown {
    /* width: 150px; */
    width: fit-content;
    border:2px solid black;
    list-style-type: none;
    text-align: center;
    padding-left: 9px;
    padding-right: 9px;
    font-size: 20px;
    text-align: left;
}
li {
    width: 100%;
    font-size:12px;
}
/* #containsButton {
    border-top:2px solid black;
} */
li > button {
    font-size: 12px;
    border: none;
    border-top:1px solid black;
    width: 100%;
    text-align: left;
    cursor: pointer
}

button > i {
    color: red;
    /* doesn't do anything?
    width: 16px;
    height: 16px;
    font-size controls the size of the favicon */
    font-size: large
}

#arrow {
    color: lightgray;
}
