form {
    /*percentage of the width of div#modal-content
    in Modal.css*/
    width: 100%;
}
#loginInputs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#loginSpan {
    padding-top: 10px;
    margin-bottom: 12px;
    font-size:20px;
}

#loginInputs > input {
    /*inside a div which takes up fill width of the form*/
    width: 90%;
    height: 30px;
    margin-bottom:10px;
    border:2px solid black;
    color: gray;
    background-color:#E8F0FE;
}
/*login button either has class disabled or enabled*/

#loginButton {
    height: 45px;
    font-size: 13px;
    width: 90%
}

#loginButton.disabled {
    background-color: white;
    color: gray;
    border: 1px solid #CCCCCC;
    box-shadow:5px 5px 5px gray;
}
#loginButton.enabled {
    background-color: red;
    color: white;
    border: 1px solid black;
    box-shadow:5px 5px 5px black;
    cursor: pointer
}

#demoUser {
    border: none;
    text-decoration: underline;
    margin-top: 10px;
    padding-bottom: 25px;
    color: teal;
    font-size: 16px;
    cursor: pointer
}

#credError {
    width: 90%;
    font-size:14px;
    color: red;
    margin-bottom:10px;
}
